.dropdown__item {
  padding: 10px 20px;
  color: var(--black-color);
  &:hover {
    color: var(--primary-color);
    background-color: var(--gray-color);
    border-radius: 10px;
  }
  &_portal {
    padding: 10px 0;
    &:hover {
      background-color: transparent;
    }
  }
}