.dropdown {
  background-color: var(--white-color);
  &_portal {
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--gray-color);
  }
}