.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: var(--white-color);
  border-radius: var(--border-radius-small);
  &:hover {
    background-color: var(--accent-color);
  }
  :global {

    img svg path {
      fill: white;
    }
  }
}