.blog-card__content {
  &-title {
    margin-bottom: 16px;
  }
  &-descr {
    margin-bottom: 13px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
  &-item {
    position: relative;
    padding-left: 20px;
    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: var(--accent-color);
      border-radius: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}
