.process-steps {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  > *:nth-child(odd) {
    align-self: flex-start;
    text-align: end;
  }
  > *:nth-child(even) {
    align-self: flex-end;
  }
}