.member-card {
  padding: 42px 26px;
  background-color: var(--white-color);
  display: flex;
  column-gap: 23px;
  border-radius: 12px;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    &-socials {
      display: flex;
      column-gap: 13px;
    }
  }
}