.footer-columns {
  display: flex;
  column-gap: 60px;
  &__column {
    &-title {
      font-size: 10px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &-list {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      column-gap: 8px;
      font-weight: 600;
    }
  }
}