.sidebar-content {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  &_opened {
    visibility: visible;
    background-color: var(--white-color);
  }
  @media(max-width: 480px) {
    width: 100%;
  }
}