.header__body {
  height: 85px;
  &_scrolled {
    background-color: var(--background);
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100%;
  }
  &-logo {
    width: fit-content;
    justify-self: center;
    align-self: center;
  }
  &-navigation_end {
    justify-self: end;
  }
}
@media(min-width: 992px) {
  .header__body-hamburger-button {
    display: none;
  }
}
@media(max-width: 1200px) {
  .header__body-button {
    display: none;
  }
}
@media(max-width: 992px) {
  .header__body-navigation {
    display: none;
  }
}