.footer {
  height: var(--footer-height);
  background-color: var(--black-color);
  &__company {
    &-description {
      color: var(--white-color);
    }
    &-list {
      color: var();
    }
  }
}