.footer {
  height: var(--footer-height);
  background-color: var(--black-color);
  &__content {
    display: flex;
    column-gap: 80px;
    p88
    padding-top: 88px;
    padding-bottom: 58px;
  }
}