.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 628px;
  &-text {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &-button {
    display: flex;
    align-self: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
  }
}