.button {
  padding: 10px 36px;
  border-radius: var(--border-radius-middle);
  color: var(--white-color);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.purple {
  background-color: var(--accent-color);
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: var(--accent-hover);
  }
}
.white {
  background-color: var(--white-color);
  color: var(--accent-color);
}
.yellow {

}