.icon {
  transition: transform .2s ease-in-out;
  &__hover-icon { 
    transform: rotate(180deg);
  }
}
.sm {
  width: 18px;
  height: 18px;
}
.md {
  width: 20px;
  height: 20px;
}
.lg {
  width: 24px;
  height: 24px;
}
.xl {
  width: 30px;
  height: 30px;
}

.primary {
  color: var(--primary-color);
  // filter: none !important;
}
.white {
    filter: brightness(0) invert(1);
}
