.icon {
}
.sm {
  width: 18px;
  height: 18px;
}
.md {
  width: 20px;
  height: 20px;
}
.lg {
  width: 24px;
  height: 24px;
}

.primary {
  color: var(--primary-color);
}
.white {
    color: white;
  &_hovered {
    color: var(--primary-color);
  }
}
.gray {
  color: var(--dark-gray-color);
  &:hover {
    color: var(--black-color);
  }
}