@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

:root {
  --background: #ffffff;

  --header-height: 130px;
  --footer-height: 610px;
  --container-width: 1350px;
  --border-radius-big: 12px;
  --border-radius-middle: 8px;
  --border-radius-small: 4px;

  --primary-color: #7f39b1;
  --white-color: #fff;
  --black-color: #211c1d;
  --accent-color: #FFC100;
  --gray-color: #F6F6F6;

  --box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);

  // Hovers
  --primary-hover: #9126de;
  --white-hover: #e3e3e3;
  --accent-hover: #ffcd39;

  --font-main: "Catamaran", serif;
  --font-second: "Source Sans 3", serif;
  --font-third: "Nunito", serif;
  --font-forth: "Inter", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black-color);
  background: var(--background);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}