.footer__links {
  min-width: 125px;
  &-list {
    color: var(--white-color);
    margin-top: 24px;
  }
  &-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 0;
    &:hover {
      color: var(--white-hover);
    }
  }
}