.footer__contact {
  display: flex;
  flex-direction: column;
  width: 416px;
  &-form {
    @extend .form;
  }
}
.form {
  margin-top: 24px;
  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 24px;
  }
  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}