.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(237, 232, 231, 0.3);
  padding: 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  &:disabled {
    opacity: .3;
    cursor: not-allowed;
  }
}

.left {
  transform: rotate(90deg)
}

.right {
  transform: rotate(-90deg);
}
