.hamburger__button {
  width: 30px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &-icon {
    height: 3px;
    width: 100%;
    background-color: var(--black-color);
  }
}