.navigation__link {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding: 16px;

  &_active {
    .navigation__link-text {
      color: var(--primary-color);
    }
  }

  &:hover {
    .navigation__link-text {
      color: var(--primary-color);
    }
  }

  &_column {
    padding: 15px 0;
  }
}