.navigation__link {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding: 23px;
  &_active {
    color: var(--primary-color);
  }
  &:hover {
    color: var(--primary-color);
  }
  &_column {
    padding: 15px 0;
  }
}