.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
}

.rounded {
  border-radius: 100%;
}

.sm {
  width: 36px;
  height: 36px;
}
.md {
  width: 46px;
  height: 46px;
}

.primary {
  background-color: var(--primary-color);
  &:hover {
    background-color: var(--white-color);
  }
}
.white {
  background-color: var(--white-color);
  &:hover {
    background-color: var(--primary-color);
  }
}
