.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-small);

}
.rounded {
  border-radius: 100%;
}
.sm {
  width: 36px;
  height: 36px;
}
.md {
  width: 46px;
  height: 46px;
}

.accent {
  background-color: var(--white-color);
  &:hover {
    background-color: var(--accent-color);
  }
}
.white {
  background-color: var(--accent-color);
  &:hover {
    background-color: var(--white-color);
  }
}
