.title {
  font-weight: 700;
  &_bold {
    font-weight: 800;
  }
  &_uppercase {
    text-transform: uppercase;
  }
}

.xs {
  font-size: 16px;
}
.sm {
  font-size: 20px;
}
.md {
  font-size: 32px;
}
.lg {
  font-size: 40px;
}
.xl {
  font-size: 128px;
}

.white {
  color: var(--white-color);
}
.black {
  color: var(--primary-color);
}
