.section-team {
  position: relative;
  // background-color: var(--accent-color);
  overflow: hidden;
  &__img-left {
    position: absolute;
    top: -90px;
    left: 0;
    z-index: 1;
  }
  &__img-right {
    position: absolute;
    top: -120px;
    right: -350px;
    z-index: 1;
  }
  &__container {
    position: relative;
    z-index: 2;
  }
}