.section-team {
  position: relative;
  background-color: var(--accent-color);
  padding: 110px 0 48px;
  overflow: hidden;
  &__img-left {
    position: absolute;
    top: -90px;
    left: 0;
    z-index: 1;
  }
  &__img-right {
    position: absolute;
    top: -120px;
    right: -350px;
    z-index: 1;
  }
  &__container {
    position: relative;
    z-index: 2;
  }
  &__title {
    margin-bottom: 56px;
    text-align: center;
  }
  &__cards {
    display: flex;
    column-gap: 24px;
    margin-bottom: 65px;
  }
  &__button {
    display: flex;
    margin: 0 auto;
  }
}