.about {
  position: relative;
  background-color: var(--accent-color);
  &__img-mother {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img-love {
    position: absolute;
    bottom: -60px;
    right: 0;
  }
  &__row {
    display: flex;
    column-gap: 101px;
    align-items: center;
    padding: 110px 0 119px;
  }
}