.collections-carousel {
  position: relative;
}
.collections-carousel__info {
  position: absolute;
  bottom: 65px;
  z-index: 10;
  width: 100%;
  &-inner {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
.collections-carousel__text-title {
  margin-bottom: 4px;
  text-transform: uppercase;
}

.collections-carousel__text-pagination {
  margin-top: 40px;
}

