.videoContainer {
  width: 100vw;
  height: calc(100vh - var(--header-height));
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  // opacity: .5;
  object-position: top;
}

.text {
  position: absolute;
  bottom: 120px;
  left: 170px;
  z-index: 10;
  max-width: 425px;
}
.title {
  margin-bottom: 4px;
}
.descr {
  margin-bottom: 24px;
  color: var(--white-color);
}