.button {
  padding: 12px 36px;
  border-radius: var(--border-radius-middle);
  color: var(--white-color);
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--font-main);
  font-size: 20px;
}

.primary {
  background-color: var(--primary-color);
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: rgba(var(--primary-hover-rgb), 0.12); // 0.12 - это значение opacity
    color: var(--primary-color);
  }
}
.white {
  background-color: var(--white-color);
  color: var(--primary-color);
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: #ffffffcb;
  }
}
.accent {
  background-color: var(--accent-color);
  &:hover {
    background-color: var(--accent-hover);
  }
}