.button {
  padding: 10px 36px;
  border-radius: var(--border-radius);
  color: var(--white-color);

}

.purple {
  background-color: var(--accent-color);
  &:hover {
    #7f39b1
  }
}
.white {

}
.yellow {

}