.button {
  padding: 10px 36px;
  border-radius: var(--border-radius);
  color: var(--white-color);

}

.purple {
  transition: background-color .3s ease-in-out;
  background-color: var(--accent-color);
  &:hover {
    background-color: var(--accent-hover);
  }
}
.white {

}
.yellow {

}